*.py[co]
*.sw[po]
*.rdb
.coverage
.cache/
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
whoosh_index/*
CACHE
CACHE/*
togit.sh
.idea/